/* Start Global Rules */
* {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

html {
  /*
      16px is(Defual value)
      62.5% of 16px --> 16 * ( 62.5 / 100 ) = 10px
      Defual Value now is 10px
      1rem = 10px
  */
  font-size: 62.5%;
  overflow-x: hidden;
}
html::-webkit-scrollbar {
  width: 1rem;
}
html::-webkit-scrollbar-track {
  background: transparent;
}
html::-webkit-scrollbar-thumb {
  background: #0eb582;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 1rem 3rem;
  font-size: 1.8rem;
  border: 0.1rem solid #0eb582;
  background-color: #f0fdfa;
  color: #0eb582;
  cursor: pointer;
  text-transform: capitalize;
}
.btn:hover {
  background-color: #0eb582;
  color: #fff;
}

section {
  padding: 5rem 10%;
}

.heading-link {
  text-align: center;
  background: url(../images/heading-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}
.heading-link h3 {
  font-size: 4rem;
  text-transform: capitalize;
  color: #444;
}
.heading-link p {
  font-size: 2rem;
  line-height: 2;
  color: #777;
}
.heading-link p a {
  color: #0eb582;
}
.heading-link p a:hover {
  font-weight: bold;
}

.heading {
  text-align: center;
  margin-bottom: 3rem;
  font-size: 3.5rem;
  text-transform: capitalize;
  color: #444;
}

img {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

/* End Global Rules */
/* Start Header */
.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  padding: 2rem 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1000;
}
.header .logo {
  margin-right: auto;
  font-size: 2.5rem;
  text-transform: capitalize;
  color: #444;
  font-weight: bolder;
}
.header .logo svg {
  color: #0eb582;
}
.header .navbar {
  position: relative;
}
.header .navbar #close-navbar {
  position: absolute;
  top: 1.5rem;
  right: 3rem;
  font-size: 4rem;
  color: #444;
  cursor: pointer;
  display: none;
}
.header .navbar #close-navbar:hover svg {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  color: #0eb582;
}
.header .navbar a {
  margin-right: 2rem;
  font-size: 2rem;
  text-transform: capitalize;
  color: #444;
}
.header .navbar a:hover {
  color: #0eb582;
}
.header .icons svg {
  cursor: pointer;
  font-size: 2.5rem;
  color: #444;
  margin-left: 2rem;
}
.header .icons svg:hover {
  color: #0eb582;
}
.header .icons #menu-btn {
  display: none;
}

/* End Header */
/* Start Account Form */
.account-form {
  position: fixed;
  top: 0;
  right: -105%;
  width: 35rem;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  gap: 2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  z-index: 1200;
  padding: 2rem;
  text-align: center;
}
.account-form.active {
  right: 0;
  -webkit-box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.8);
          box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.8);
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}
.account-form #close-form {
  position: absolute;
  top: 1.5rem;
  right: 3rem;
  font-size: 4rem;
  color: #444;
  cursor: pointer;
}
.account-form #close-form:hover svg {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  color: #0eb582;
}
.account-form .buttons .btn {
  margin: 0 0.5rem;
}
.account-form .buttons .btn.active {
  background-color: #0eb582;
  color: #fff;
}
.account-form form {
  border: 0.1rem solid #0eb582;
  padding: 2rem;
  text-align: center;
  display: none;
}
.account-form form.active {
  display: block;
}
.account-form form h3 {
  font-size: 2.5rem;
  text-transform: capitalize;
  color: #444;
  padding-bottom: 0.5rem;
  text-transform: uppercase;
}
.account-form form .box {
  width: 100%;
  padding: 1.2rem 1.4rem;
  border: 0.1rem solid #0eb582;
  font-size: 1.6rem;
  margin: 0.7rem 0;
}
.account-form form .flex {
  padding: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
}
.account-form form .flex label {
  font-size: 1.5rem;
  color: #777;
  cursor: pointer;
}
.account-form form .flex a {
  font-size: 1.5rem;
  color: #777;
  margin-left: auto;
}
.account-form form .flex a:hover {
  text-decoration: underline;
  color: #0eb582;
}
.account-form form .btn {
  width: 100%;
}

/* End Account Form */
/* --------Page Home Start-------- */
/* Start Home */
.home {
  padding: 0;
}
.home .slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60rem;
  background-size: cover !important;
  background-position: center !important;
}
.home .slide .content {
  width: 51rem;
}
.home .slide .content h3 {
  font-size: 5rem;
  text-transform: capitalize;
  color: #444;
  color: #fff;
}
.home .slide .content p {
  font-size: 1.6rem;
  line-height: 2;
  color: #777;
  color: #eee;
  padding: 1rem 0;
}
.home .swiper-pagination-bullet-active {
  background-color: #0eb582;
}

/* End Home */
/* Start Subject */
.subject .box-container {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  gap: 2rem;
}
.subject .box {
  padding: 3rem 2rem;
  text-align: center;
  border: 0.1rem solid #0eb582;
  background: #f0fdfa;
  cursor: pointer;
}
.subject .box:hover {
  background-color: #0eb582;
}
.subject .box:hover h3 {
  color: #fff;
}
.subject .box:hover p {
  color: #eee;
}
.subject .box img {
  height: 10rem;
  margin-bottom: 0.7rem;
}
.subject .box h3 {
  font-size: 1.7rem;
  text-transform: capitalize;
  color: #444;
  padding: 0.5rem 0;
}
.subject .box p {
  font-size: 1.5rem;
  line-height: 2;
  color: #777;
}

/* End Subject */
/* Start Home Courses Slider */
.home-courses .slide {
  text-align: center;
  position: relative;
  width: 30rem;
  background-color: #f0fdfa;
  overflow: hidden;
}
.home-courses .slide:hover .content {
  bottom: 0;
}
.home-courses .slide .image {
  padding: 2rem;
}
.home-courses .slide .image img {
  width: 100%;
  margin-bottom: 1.5rem;
}
.home-courses .slide .image h3 {
  font-size: 2rem;
  text-transform: capitalize;
  color: #444;
}
.home-courses .content {
  position: absolute;
  bottom: -100%;
  right: 0;
  left: 0;
  background-color: #0eb582;
  padding: 2rem 3rem;
}
.home-courses .content h3 {
  font-size: 2rem;
  text-transform: capitalize;
  color: #444;
  color: #fff;
}
.home-courses .content p {
  padding: 1rem 0;
  font-size: 1.5rem;
  line-height: 2;
  color: #777;
  color: #eee;
}
.home-courses .content .btn:hover {
  background-color: #444;
}
.home-courses .swiper-pagination {
  top: 3px;
  bottom: 100%;
}
.home-courses .swiper-pagination-bullet-active {
  background-color: #0eb582;
}

/* End Home Courses Slider */
/* --------Page Home End-------- */
/* --------Page About Start--------*/
/* Start About Section */
.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 3rem;
}
.about .image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}
.about .image img {
  width: 100%;
}
.about .content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}
.about .content .about-title {
  font-size: 3rem;
  text-transform: capitalize;
  color: #444;
}
.about .content p {
  font-size: 1.5rem;
  line-height: 2;
  color: #777;
  padding: 1rem 0;
}
.about .content .icon-container {
  margin-top: 1rem;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  gap: 2rem;
}
.about .content .icon-container .icons {
  text-align: center;
  border: 0.1rem solid #0eb582;
  background-color: #f0fdfa;
  padding: 3rem 2rem;
}
.about .content .icon-container .icons img {
  height: 5rem;
  margin-bottom: 0.5rem;
}
.about .content .icon-container .icons h3 {
  padding: 0.5rem 0;
  font-size: 3rem;
  text-transform: capitalize;
  color: #444;
}
.about .content .icon-container .icons span {
  font-size: 1.5rem;
  line-height: 2;
  color: #777;
}

/* End About Section */
/* --------Page About End-------- */
/* Start Footer */
.footer {
  background-color: #f0fdfa;
}
.footer .box-container {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 2rem;
}
.footer .box-container .box h3 {
  font-size: 2.2rem;
  text-transform: capitalize;
  color: #444;
  padding: 1rem 0;
}
.footer .box-container .box h3 svg {
  color: #0eb582;
}
.footer .box-container .box .share {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 10px;
  font-size: 2rem;
}
.footer .box-container .box .share a {
  padding: 8px 16px;
  text-align: center;
  background-color: #0eb582;
  color: #fff;
}
.footer .box-container .box .share a svg {
  color: #fff;
}
.footer .box-container .box .share a:hover {
  background-color: #444;
}
.footer .box-container .box .link {
  font-size: 1.5rem;
  line-height: 2;
  color: #777;
  padding: 0.5rem 0;
  display: block;
}
.footer .box-container .box .link:hover {
  color: #0eb582;
}
.footer .box-container .box p {
  font-size: 1.5rem;
  line-height: 2;
  color: #777;
  padding: 1rem 0;
}
.footer .box-container .box .email {
  width: 100%;
  padding: 1.2rem 1.4rem;
  font-size: 1.6rem;
  border: 0.1rem solid #0eb582;
  margin-bottom: 1rem;
}
.footer .credit {
  text-align: center;
  margin-top: 2rem;
  padding-top: 2rem;
  font-size: 1.3rem;
  text-transform: capitalize;
  color: #444;
  border-top: 0.1rem solid #0eb582;
}
.footer .credit span {
  color: #0eb582;
}
.footer .credit span:hover {
  font-weight: bold;
}

/* End Footer */
/* Start Media Queries */
@media (max-width: 1200px) {
  .header {
    padding: 2rem 5%;
  }

  section {
    padding: 3rem 5%;
  }
}
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  .header {
    padding: 2rem;
  }

  section {
    padding: 3rem 2rem;
  }
}
@media (max-width: 768px) {
  .header .icons * {
    display: inline-block !important;
  }
  .header .navbar {
    position: fixed;
    top: 0;
    right: -105%;
    width: 30rem;
    height: 100%;
    background-color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    z-index: 1200;
  }
  .header .navbar #close-navbar {
    display: inline-block;
  }
  .header .navbar.active {
    -webkit-box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.8);
            box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.8);
    right: 0;
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
  }
  .header .navbar a {
    display: block;
    margin: 2rem 0;
    text-align: center;
    font-size: 3rem;
    color: #0eb582;
    font-weight: bold;
    border-bottom: 1px solid rgba(192, 192, 192, 0.7);
  }

  .home .slide .content h3 {
    font-size: 3rem;
  }
}
@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .heading {
    font-size: 3rem;
  }

  .footer {
    text-align: center;
  }

  .footer .box-container .box .share {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .about .content .about-title {
    font-size: 4rem;
  }
}
/* End Media Queries */