                    // Start Variables 
$green: #0eb582;
$light-green: #f0fdfa;
$light-color: #777;
$light-white:  #eee;
$black: #444;
$white: #fff;
$border: .1rem solid $green;
$box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
                    // End Variables 

                    //  Start Mixin 
@mixin grid($val) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
    gap: 2rem;
}

@mixin titleText($titleSize) {
    font-size: $titleSize;
    text-transform: capitalize;
    color: $black;
}

@mixin graphText($graphSize) {
    font-size: $graphSize;
    line-height: 2;
    color: $light-color;
}
                    //  End Mixin 

                    /* Start Global Rules */
* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .2s linear;
}

html {
    /*
        16px is(Defual value)
        62.5% of 16px --> 16 * ( 62.5 / 100 ) = 10px
        Defual Value now is 10px
        1rem = 10px
    */
    font-size: 62.5%; 
    overflow-x: hidden;

    &::-webkit-scrollbar {
        width: 1rem;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background: $green;
    }
}

.btn {
    display: inline-block;
    margin-top: 1rem;
    padding: 1rem 3rem;
    font-size: 1.8rem;
    border: $border;
    background-color: $light-green;
    color: $green;
    cursor: pointer;
    text-transform: capitalize;
    &:hover {
        background-color: $green;
        color: $white;
    }
}

section {
    padding: 5rem 10%;
}

.heading-link {
    text-align: center;
    background: url(../images/heading-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    h3 {
        @include titleText(4rem);
    }
    p {
        @include graphText(2rem);
        a {
            color: $green;
            &:hover {
                font-weight: bold;
            }
        }
    }
}

.heading {
    text-align: center;
    margin-bottom: 3rem;
    @include titleText(3.5rem);
}

img {
    user-select: none;
}
                    /* End Global Rules */


                    /* Start Header */
.header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    box-shadow: $box-shadow;
    padding: 2rem 10%;
    display: flex;
    align-items: center;
    z-index: 1000;
    .logo {
        margin-right: auto;
        @include titleText(2.5rem);
        font-weight: bolder;
        svg {
            color: $green;
        }
    }

    .navbar {
        position: relative;
        #close-navbar {
            position: absolute;
            top: 1.5rem;
            right: 3rem;
            font-size: 4rem;
            color: $black;
            cursor: pointer;
            display: none;

            &:hover svg {
                transform: rotate(90deg);
                color: $green;
            }
        }

        a {
            margin-right: 2rem;
            @include titleText(2rem);
            &:hover {
                color: $green;
            }
        }
    }

    .icons {
        svg {
            cursor: pointer;
            font-size: 2.5rem;
            color: $black;
            margin-left: 2rem;
    
            &:hover {
                color: $green;
            }
        }
        #menu-btn {
            display: none;
        }
    }

}
                    /* End Header */

                    /* Start Account Form */
.account-form {
    position: fixed;
    top: 0;
    right: -105%;
    width: 35rem;
    background-color: $white;
    display: flex;
    flex-flow: column;
    gap: 2rem;
    justify-content: center;
    height: 100%;
    // box-shadow: 0 0 0 100vw rgba(0, 0, 0, .8);
    z-index: 1200;
    padding: 2rem;
    text-align: center;
    &.active {
        right: 0;
        box-shadow: 0 0 0 100vw rgba(0, 0, 0, .8);
        transition: all 0.1s;
    }
    #close-form {
        position: absolute;
        top: 1.5rem;
        right: 3rem;
        font-size: 4rem;
        color: $black;
        // display: none;
        cursor: pointer;
        &:hover svg {
            transform: rotate(90deg);
            color: $green;
        }
    }
    .buttons .btn {
        margin: 0 .5rem;
        &.active {
            background-color: $green;
            color: $white;
        }
    }
    form {
        border: $border;
        padding: 2rem;
        text-align: center;
        display: none;
        &.active {
            display: block;
        }
        h3 {
            @include titleText(2.5rem);
            padding-bottom: 0.5rem;
            text-transform: uppercase;
        }
        .box {
            width: 100%;
            padding: 1.2rem 1.4rem;
            border: $border;
            font-size: 1.6rem;
            margin: .7rem 0;
        }
        .flex {
            padding: 1rem 0;
            display: flex;
            align-items: center;
            gap: 0.5rem;
            label {
                font-size: 1.5rem;
                color: $light-color;
                cursor: pointer;
            }
            a {
                font-size: 1.5rem;
                color: $light-color;
                margin-left: auto;
                &:hover {
                    text-decoration: underline;
                    color: $green;
                }
            }
        }
        .btn {
            width: 100%;
        }
    }
}
                    /* End Account Form */
                    
                    /* --------Page Home Start-------- */
                    /* Start Home */
.home {
    padding: 0;
    .slide {
        display: flex;
        align-items: center;
        height: 60rem;
        background-size: cover !important;
        background-position: center !important;
        .content {
            width: 51rem;
            h3 {
                @include titleText(5rem);
                color: $white;
            }
            p {
                @include graphText(1.6rem);
                color: $light-white;
                padding: 1rem 0;
            }
        }
    }
    .swiper-pagination-bullet-active {
        background-color: $green;
    }
}

                    /* End Home */

                    /* Start Subject */
.subject {
    .box-container {
        @include grid(16rem);
    }
    .box {
        padding: 3rem 2rem;
        text-align: center;
        border: $border;
        background: $light-green;
        cursor: pointer;
        &:hover {
            background-color: $green;
            h3 {
                color: $white;
            }
            p {
                color: $light-white;
            }
        }
        img {
            height: 10rem;
            margin-bottom: .7rem;
        }
        h3 {
            @include titleText(1.7rem);
            padding: .5rem 0;
        }
        p {
            @include graphText(1.5rem);
        }
    }
}
                    /* End Subject */

                    /* Start Home Courses Slider */
.home-courses {
    .slide {
        text-align: center;
        position: relative;
        background-color: $light-green;
        overflow: hidden;
        &:hover .content {
            bottom: 0;
        }
        .image {
            padding: 2rem;
            img {
                width: 100%;
                margin-bottom: 1.5rem;
            }
            h3 {
                @include titleText(2rem);
            }
        }
    }
    .content {
        position: absolute;
        bottom: -100%;
        right: 0;
        left: 0;
        background-color: $green;
        padding: 2rem 3rem;
        h3 {
            @include titleText(2rem);
            color: $white;
        }
        p {
            padding: 1rem 0;
            @include graphText(1.5rem);
            color: $light-white;
        }
        .btn:hover {
            background-color: $black;
        }
    }
    .swiper-pagination {
        top: 3px;
        bottom: 100%;
    }
    .swiper-pagination-bullet-active {
        background-color: $green;
    }
        
}
                    /* End Home Courses Slider */
                    /* --------Page Home End-------- */

                    /* --------Page About Start--------*/
                    /* Start About Section */
.about {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
    .image {
        flex: 1 1 40rem;
        img {
            width: 100%
        }
    }
    .content {
        flex: 1 1 40rem;
        .about-title {
            @include titleText(3rem);
        }
        p {
            @include graphText(1.5rem);
            padding: 1rem 0;
        }
        .icon-container {
            margin-top: 1rem;
            @include grid(16rem);
            // display: flex;
            // flex-wrap: wrap;
            // gap: 1.5rem;
            .icons {
                // flex: 1 1 12rem;
                text-align: center;
                border: $border;
                background-color: $light-green;
                padding: 3rem 2rem;
                img {
                    height: 5rem;
                    margin-bottom: .5rem;
                }
                h3 {
                    padding: .5rem 0;
                    @include titleText(3rem);
                }
                span {
                    @include graphText(1.5rem);
                }
            }
        }
    }

}
                    /* End About Section */
                    /* Start Teachers */
.teachers {
    .slide {
        text-align: center;
        &:hover {
            .image {
                img {
                    background-color: $green;
                }
                .share {
                    bottom: 0;
                }
            }
        }
        .image {
            position: relative;
            overflow: hidden;
            img {
                background-color: $light-green;
                width: 100%;
            }
            .share {
                position: absolute;
                bottom: -10rem;
                left: 0;
                right: 0;
                background-color: rgba(0, 0, 0, .8);
                padding: 2rem;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
                a {
                    font-size: 3rem;
                    margin: 0 1rem;
                    color: $white;
                    transition: color .1s !important;
                    padding: .2rem;
                    &:hover {
                        color: $green;
                    }
                }
            }
        }

        .content {
            display: flex;
            padding-top: 1rem;
            align-items: center;
            justify-content: space-between;
            h3 {
                @include titleText(2rem);
            }
            span {
                @include graphText(1.5rem);
            }
        }
    }
    .swiper-pagination {
        top: 1px;
        bottom: 100%;
    }
    .swiper-pagination-bullet-active {
        background-color: #4bff00;
    }
}
                    /* End Teachers */

                    /* Start Reviews */
.reviews {
    .slide {
        text-align: center;
        p {
            @include graphText(1.5rem);
            position: relative;
            background-color: $light-green;
            border: $border;
            margin-bottom: 3rem;
            padding: 2rem;
            &::before {
                content: "";
                position: absolute;
                bottom: -1.2rem;
                left: 50%;
                transform: translateX(-50%) rotate(45deg);
                background-color: $light-green;
                border-bottom: $border;
                border-right: $border;
                height: 2rem;
                width: 2rem;
            }
        }
        img {
            height: 7rem;
            width: 7rem;
            border-radius: 50%;
        }
        h3 {
            @include titleText(2.2rem);
            padding: .5rem 0;
        }
        .stars {
            font-size: 1.2rem;
            color: $green;
        }
    }
    .swiper-pagination {
        top: 1rem;
        bottom: 100%;
        
    }
    .swiper-pagination-bullet {
        width: 0.6rem;
        height: 0.6rem;
    }
    .swiper-pagination-bullet-active {
        background-color: $green;
    }
}
                    /* End Reviews */

                    /* --------Page About End-------- */

                    /* --------Page Courses Start-------- */
                    /* Start Courses Section */
.courses {
    .box-container {
        @include grid(30rem);
        .box {
            &:hover .image img {
                transform: scale(1.03);
            }
            &:hover {
                transform: scale(1.04);
            }
            &:hover .image h3 {
                color: $green;
            }
            &.hide {
                display: none;
            }
            .image {
                height: 25rem;
                overflow: hidden;
                position: relative;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
                h3 {
                    @include titleText(1.5rem);
                    position: absolute;
                    top: 1rem;
                    left: 1rem;
                    padding: .5rem 1.5rem;
                    background-color: $white;
                }
            }

            .content {
                padding: 2rem;
                text-align: center;
                border: $border;   
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 50px;
                h3 {
                    @include titleText(2rem);
                }
                p {
                    padding: 1rem 0;
                    @include graphText(1.6rem);
                }
                .icons {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-top: 2rem;
                    padding-top: 2rem;
                    border-top: $border;
                    span {
                        @include titleText(1.5rem);
                        i,svg {
                            color: $green;
                            padding-right: .5rem;
                        }
                    }
                }
                .btn {
                    border-bottom-left-radius: 10px;
                    border-bottom-right-radius: 20px;
                }
            }
        }
    }
    .load-more {
        margin-top: 3rem;
        text-align: center;
        .btn {
            border-radius: 10px;
        }
    }
}
                    /* End Courses Section */
                    /* --------Page Courses End-------- */

                    /* --------Page Contact Start-------- */
                    /* Start Contact Section */
.contact {
    .icons-container {
        @include grid(25rem);
        margin-bottom: 4rem;
        .icons {
            text-align: center;
            padding: 3rem 2rem;
            border: $border;
            background-color: $light-green;
            span {
                height: 6rem;
                width: 6rem;
                line-height: 6rem;
                display: inline-block;
                margin: 0 auto;
                border-radius: 50%; 
                margin-bottom: 0.5rem;
                color: #fff;
                background-color: #0eb582; 
                font-size: 2rem;
            }
            h3 {
                @include titleText(2rem);
                padding: .5rem 0;
            }
            p {
                @include graphText(1.5rem);
            }
        }
    }

    .row {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 2rem;
        .image {
            flex: 1 1 40rem;
            img {
                width: 100%
            }
        }
        form {
            flex: 1 1 40rem;
            border: $border;
            padding: 2rem;
            h3 {
                @include titleText(2.5rem);
                padding-bottom: 1rem;
            }
            .box {
                width: 100%;
                padding: 1.2rem 1.4rem;
                border: $border;
                font-size: 1.6rem;
                margin: .7rem 0;
                &:focus {
                    background-color: $green;
                    color: $white;
                    &::placeholder {
                        color: $light-white;
                    }
                }
            }
            textarea {
                height: 15rem;
                resize: none;
            }
        }
    }
}
                    /* End Contact Section */
                    /* --------Page Contact End-------- */


                    /* Start Footer */
.footer {
    background-color: $light-green;
    .box-container {
        @include grid(25rem);
        .box {
            h3 {
                @include titleText(2.2rem);
                padding: 1rem 0;
                svg {
                    color: $green;
                }
            }
            .share {
                margin-top: 1rem;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                gap: 10px;
                font-size: 2rem;
                a {
                    padding: 8px 16px;
                    text-align: center;
                    background-color: #0eb582;
                    color: #fff;
                    svg {
                    color: $white; 
                    }
                    &:hover {
                        background-color: $black;
                    }  
                }
            }
            .link {
                @include graphText(1.5rem);
                padding: .5rem 0;
                display: block;
                &:hover {
                    color: $green;
                }
            }
            p {
                @include graphText(1.5rem);
                padding: 1rem 0;
            }
            .email {
                width: 100%;
                padding: 1.2rem 1.4rem;
                font-size: 1.6rem;
                border: $border;
                margin-bottom: 1rem;
            }
        }
    }
    .credit {
        text-align: center;
        margin-top: 2rem;
        padding-top: 2rem;
        @include titleText(1.3rem);
        border-top: $border;
        span {
            color: $green;
            &:hover {
                font-weight: bold;
            }
        }
    }
}
                    /* End Footer */



                    /* Start Media Queries */
@media (max-width: 1200px) {
    .header {
        padding: 2rem 5%;
    }
    section {
        padding: 3rem 5%;
    }
}

@media (max-width: 991px) {
    html {
        font-size: 55%;
    }
    .header {
        padding: 2rem;
    }
    section {
        padding: 3rem 2rem;
    }
}

@media (max-width: 768px) {
    .header {
        .icons * {
            display: inline-block !important;
        }

        .navbar {
            position: fixed;
            top: 0;
            right: -105%;
            width: 30rem;
            height: 100%;
            background-color: white;
            display: flex;
            flex-flow: column;
            justify-content: center;
            z-index: 1200;

            #close-navbar {
                display: inline-block;
            }

            &.active {
                box-shadow: 0 0 0 100vw rgba(0, 0, 0, .8);
                right: 0;
                transition: all 0.1s;
            }

            a {
                display: block;
                margin: 2rem 0;
                text-align: center;
                font-size: 3rem;
                color: $green;
                font-weight: bold;
                border-bottom: 1px solid rgb(192 192 192 / 70%);
            }
        }
    }
    
    .home .slide .content h3 {
        font-size: 3rem;
    }
}

@media (max-width: 450px) {
    html {
        font-size: 50%;
    }
    .heading {
        font-size: 3rem;
    }
    .footer {
        text-align: center;
    }
    .footer .box-container .box .share {
        justify-content: center;
    }
    .about .content .about-title {
        font-size: 4rem;
    }
}
                    /* End Media Queries */

